<div class ="list-wap">
  <% @lists.each do |list|%>
  <div class ="list-box">
    <%= attachment_image_tag list, :image, :fill, 200, 200, format: 'jpeg'%>
    <div class ="list_comment">
      <span class ="list_body"><%= list.body%></span>
      <span class ="list_title"><%=link_to list.title, todolist_path(list.id) %></span>
    </div>
  </div>
  <% end %>
</div>